<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="Echis.IOCSettings" type="Echis.Configuration.SectionHandler, Echis.Core"/>
		<section name="Echis.Data.Settings" type="Echis.Configuration.SectionHandler, Echis.Core"/>
		<section name="Echis.Diagnostics.Settings" type="Echis.Configuration.SectionHandler, Echis.Core"/>
		<sectionGroup name="spring">
			<section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core"/>
			<section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core" />
		</sectionGroup>
	</configSections>

	<appSettings />

	<Echis.Data.Settings Assembly="Echis.Data">
		<Settings>
			<DataAccessObject Name="Bible" Type="Echis.Data.SqlDataAccess, Echis.Data.SqlClient"
				ConnectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=Bible;Persist Security Info=True;Integrated Security=True;" />
		</Settings>
	</Echis.Data.Settings>

	<!-- Simple IOC Settings -->
	<Echis.IOCSettings Assembly="Echis.Core">
		<IOCSettings TypeName="Echis.Spring.IOC, Echis.Spring" />
	</Echis.IOCSettings>

	<!-- Diagnostics Settings -->
	<Echis.Diagnostics.Settings Assembly="Echis.Core">
		<Settings
			 DefaultLevel="Info"
			 UseEventLog="false" />
	</Echis.Diagnostics.Settings>
	
	<!-- Spring.net Config -->
	<spring>
		<context>
			<resource uri="config://spring/objects"/>
		</context>

		<objects xmlns="http://www.springframework.net">
			<object id="BibleService" type="Bible.Xml.BibleService, Bible.Xml"/>
		</objects>
	</spring>

</configuration>